/*common styles*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans&display=swap');

:root {
    --size-ratio : calc(1vw + 1vh);
    --font-color : #F9F9ED;
    --header-color : #BCBDC0;
    --background-color : #30343f;
    --strong-color : #F7B267;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: var(--font-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--header-color);
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

h1::first-letter{
    color: var(--strong-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
    cursor: pointer;
}

/*navigation styles*/
.menu {
    position: fixed;
    z-index: 1000;
    width:100%;
    min-height: calc(var(--size-ratio) * 1.5);
    display:flex;
    align-items:center;
    transition: backdrop-filter .4s ease-out;
}

.menu:hover{
    backdrop-filter: blur(5px);
}
.menu__list {
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:5%;
    gap: 5%;
    list-style: none;
    font-size: calc(var(--size-ratio) * .6);
}

.menu__item>a::after {
    display: block;
    width:0;
    height: 2px;
    transition: width .2s ease-in-out;
    content: "";
    background-color: var(--font-color);
}

.menu__item>a:hover{
    color: var(--strong-color);
}

.menu__item>a:hover::after {
    width: 100%;
    background-color: var(--strong-color);
}

/*header styles*/
.start {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding : 0 5%;
    background-color: var(--background-color);
}

.start__image-container{
    position: absolute;
    width: calc(var(--size-ratio)*25);
    height: calc(var(--size-ratio)*26);
    z-index: 0;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.start__arrow-to-image{
    width: calc(var(--size-ratio)*4);
    height: calc(var(--size-ratio)*4);
    z-index: 2;
}

.start__image{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(var(--size-ratio)*25);
    height: calc(var(--size-ratio)*25);
    top:0;
    animation: levitate 7s ease-in-out infinite;
}

.start__image-caption{
    font-size: calc(var(--size-ratio)*.7);
    border-right: 2px solid var(--strong-color);
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: 
    typing 4s steps(49) infinite alternate,
    blinking .4s step-end infinite alternate;
}

@keyframes blinking {
    50%{
        border-right: none;
    }
}

@keyframes typing {
0%{width:0;}
20%{width:0;}
60%{width: 30ch;}
100%{width: 30ch;}
}

.start__header {
    font-size: calc(var(--size-ratio)*5);
    z-index: 1;
}

.start__text {
    font-size: calc(var(--size-ratio)*2);
    z-index: 1;
}

/*main content common styles*/
.section {
    min-height: 100vh;
    padding: 0 5%;
    background-color: var(--background-color);
}

.section__header {
    font-size: calc(var(--size-ratio) * 2);
}

.section__text {
    font-size: calc(var(--size-ratio) * 1);
}

/*skills styles*/
.skill-container{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 1%;
    margin: 2vh 0;
    padding: 4vh 0;
    overflow: hidden;
}

.skill-card{
    width: 17%;
    min-width: 120px;
    min-height: calc(var(--size-ratio) * 13);
    background-color: var(--background-color);
    box-shadow: -.5rem 0 1.5rem #222222;
    border-radius: .6rem;
    text-align: center;
    transition: .2s;
    will-change: transform; 
}

.skill-card:hover{
    transform: rotate(3deg) translateY(-.5rem);
}

.skill-card:hover>.skill-card__header{
    color: var(--strong-color);
}

.skill-card:hover~.skill-card{
    transform: translateX(24%);
}

.skill-card:not(:first-child){
    margin-left: -4%;
}

.skill-card__header{
    margin: 1rem 0;
    font-size: calc(var(--size-ratio) * 1.5);
    text-decoration: underline;
}

.skill-card__list{
    font-size: var(--size-ratio);
    list-style: none;
}

/* codewars styles */
.codewars{
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template: 20vmin 1fr / 30vmin 1fr;
    place-items: center center;
    grid-column-gap: 15vmin;
    padding : 10vh 0;
}

.codewars__link-button {
    align-self: start;
    justify-self: start;
    background-color: var(--strong-color);
    color: var(--background-color);
    border-radius: calc(var(--size-ratio) * 1.2);
    width: 30vmin;
    font-size: var(--size-ratio);
    font-weight: 600;
    height: 7vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codewars__img{
    width:30vmin;
    height: calc(30vmin / 935 * 700);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1/span 4;
    animation: levitate 3s ease-in-out infinite;
}

@keyframes levitate {
    50% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

/* projects styles */
.projects-container{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.project{
    width:80%;
    padding: 1%;
    display:flex;
    justify-content: space-between;
    box-shadow: -.5rem 0 1.5rem #222222;
    border-radius: .6rem;
    background-color: var(--background-color);
}

.project:nth-child(2n){
    flex-direction: row-reverse;
    align-self: flex-end;
}

.project:not(:first-child){
    margin-top: 5vmin;
}

.project__image{
    filter: grayscale(.9) contrast(.9) brightness(.7) opacity(.4);
    width:49%;
    background-position: center;
    background-size: cover;
    transition: filter .4s linear;
}

.project__image:hover{
    filter:none;
}

.project__text-content{
    width: 49%;
    padding: 2vmin;
    display: flex;
    flex-wrap: wrap;
}

.project__header{
    font-size: calc(var(--size-ratio) * 1.5);
    width:100%;
}

.project__text{
    width: 100%;
    font-size: var(--size-ratio);
}

.project__link{
    font-size: calc(var(--size-ratio) * 1.2);
    font-weight: 700;
    color: var(--strong-color);
    
}

.project__link:after{
    content:"→";
}

/* contacts styles */
.contact-me{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.contact-me>h2{
    font-size: calc(var(--size-ratio) * 5);
}

.contact-links{
    min-width: 50%;
    display:flex;
    flex-direction: column;
}

.contact-links__header{
    font-size: calc(var(--size-ratio) * 2);
}

.contact-links__link{
    font-size: var(--size-ratio);
}

.contact-links__button{
    margin-top: 2vh;
    font-size: calc(var(--size-ratio) * 1.5);
    font-weight: 700;
    width: calc(var(--size-ratio) * 13);
    height: calc(var(--size-ratio) * 2.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--size-ratio) * 1.25);
    background-color: var(--strong-color);
    color: var(--background-color);
}

/* footer styles */
.footer{
    background-color: var(--background-color);
    color: var(--font-color);
    padding: 5px;
}