@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans&display=swap');

:root {
    --size-ratio : calc(1vw + 1vh);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Bebas Neue', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.menu {
    position: fixed;
    width:100%;
    min-height: calc(var(--size-ratio) * 1.5);
    display:flex;
    align-items:center;
    transition: background-color .4s ease-out;
    backdrop-filter: blur(3px);
}
.menu:hover{
    background-color: rgba(255,255,255,.7);
}
.menu__list {
    width:100%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:5%;
    gap: 5%;
    list-style: none;
    font-size: calc(var(--size-ratio) * .6);
}

.menu__item>a::after {
    display: block;
    width:0;
    height: 1px;
    transition: width .2s ease-in-out;
    content: "";
    background-color: #000;
}

.menu__item>a:hover::after {
    width: 100%;
}

.start {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding : 0 5%
}

.start__header {
    font-size: calc(var(--size-ratio)*5);
}

.start__text {
    font-size: calc(var(--size-ratio)*2);
}

.main {
    padding: 0 5%;
}

.section__header {
    font-size: calc(var(--size-ratio) * 2);
}

.section__text {
    font-size: calc(var(--size-ratio) * 1);
}

.skill-container{
    width: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    margin: 5vh 0;
}

.skill-card{
    width: calc(var(--size-ratio) * 9);
    border: 1px solid black;
}

.skill-card__header{
    font-size: calc(var(--size-ratio) * 1.5);
    text-decoration: underline;
}

.skill-card__list{
    font-size: var(--size-ratio);
    list-style: none;
}